**/bin/**
**/.settings
**/.classpath
**/.project
**/.gitignore
**/work/**
**/target/**
**/.*.sw?
**/*.jpg
**/*.log
**/*.png
**/src/**/*.jar
**/build/**
**/test-output/**
/pom.xml.releaseBackup
/release.properties
/settings.xml
*.unc-backup~
*.uncrustify
/target/
