**/bin/**
**/.settings
**/.classpath
**/.project
**/.gitignore
**/work/**
**/target/**
**/*.log
**/*.png
**/src/**/*.jar
**/build/**
**/test-output/**
/pom.xml.releaseBackup
/release.properties
/settings.xml
*.unc-backup~
*.uncrustify
**/.*.sw?
/target/
